@import url('https://fonts.googleapis.com/css?family=Akronim|Indie+Flower&display=swap');
.texto {
    font-family: 'Akronim', cursive;
    font-size: 7em;
}

.bg-title {
    background: url('img/baner.jpg');
    background-size: cover;
}

h1 {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 black, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}


/*----------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

 ::-webkit-scrollbar-track {
    border: 3px solid white;
    box-shadow: inset 0 0 2.5px 2px black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient( 45deg, black, #485460);
    border-radius: 2px;
}

hr {
    border: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, black, transparent);
}


/*------------------------------------------------------------------------------------------*/